.ui-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.75rem;
    font-size: 1rem;
}

.ui-number.disabled {
    pointer-events: none;
}

.ui-number__step-button {
    height: 1.75rem;
    width: 1.75rem;
    background-color: var(--number-input-bg-color);
    color: var(--text-secondary-color);
    border-radius: 8px;
    /* border: 2px solid var(--number-input-border-color); */
    border: 2px solid transparent;
    cursor: pointer;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s,
    border 0.2s,
    outline-offset 0.05s,
    outline 0.05s;
}

.ui-number__step-button:hover {
    background-color: var(--number-input-hover-bg-color);
    border: 2px solid var(--number-input-hover-border-color);
}

.ui-number__step-button:focus {
    outline: 3px solid var(--focus-outline-color);
    outline-offset: 0.125rem;
}

.ui-number__step-button:active {
    border-color: var(--number-input-active-border-color);
    background: var(--number-input-active-bg-color);
    transition: background 0.04s,
    border 0.04s;
}

.ui-number.disabled > .ui-number__step-button {
    pointer-events: none;
    cursor: default;
    color: var(--number-input-disabled-text-color);
    border-color: var(--number-input-disabled-border-color);
    background: var(--number-input-disabled-bg-color);
}

.ui-number__input {
    margin: 0px 0.25rem;
    /* appearance: none; */
    -moz-appearance: textfield; /*  hide arrows */
    text-align: center;
    pointer-events: none;
    user-select: none; 
    background-color: var(--number-input-bg-color);
    color: var(--text-color);
    border-radius: 8px;
    width: 4rem;
    height: 100%;
    border: none;
    transition: outline-offset 0.05s, outline 0.05s;
}

.ui-number__input:focus {
    outline: 3px solid var(--focus-outline-color);
    outline-offset: 0.125rem;
}

/* hide arrows */
.ui-number__input::-webkit-outer-spin-button,
.ui-number__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ui-number.disabled > .ui-number__input {
    pointer-events: none;
    user-select: none;
    color: var(--number-input-disabled-text-color);
    border-color: var(--number-input-disabled-border-color);
    background: var(--number-input-disabled-bg-color);
}