.categorized-settings {
    width: 100%;
    height: calc(100vh - 52px);
    overflow-y: scroll;
    padding: 8px 24px;
    scroll-behavior: smooth;
}

.categorized-settings__container {
    max-width: 960px;
}

.categorized-settings__title {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 20px;
}