.plugins-dialog {}

.plugins-dialog__content {
    padding: 0.5rem 1rem;
}

.plugins-dialog__enabled-plugins {
    margin-bottom: 2rem;
}

.plugins-dialog__plugin-list {
    list-style: none;
    padding: 0;
}

.plugins-dialog__list-item {
    font-size: 16px;
    font-weight: 250;
}

.plugins-dialog__item-title {
    font-size: 20px;
    font-weight: 350;
}

.plugins-dialog__plugin-data {
    padding-left: 1rem;
}

.plugins-dialog__disabled-plugins-title {
    font-size: 24px;
    font-weight: 400;
}