.settings-list {
    list-style: none;
    padding: 0 0 0 0.25rem;
}

.settings-list > :not(:last-child) {
    border-bottom: 1px solid var(--divider-color);
}

.settings-list__item {
    margin: 0 0 1rem 0;
    padding: 0 0 1rem 0;
}

.settings-list__item.hidden {
    display: none;
}