.setting {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.setting__content {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    flex-shrink: 1;
    flex-grow: 1;
}

.setting__title {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.setting__description {
    max-width: 35rem;
}

.setting__content .setting__title h6 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--setting-title-color);
    word-break: break-all;
}

.setting.disabled .setting__content .setting__title h6 {
    color: var(--setting-disabled-title-color);
}

.setting__content .setting__title:has(+ .setting__description) {
    margin-bottom: 0.25rem;
}

.setting__plugin-icon {
    color: var(--text-secondary-color);
    opacity: 0.4;
}

.setting__content .setting__description {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--setting-description-color);
}

.setting.disabled .setting__content .setting__description {
    color: var(--setting-disabled-description-color);
}

.setting__actions {
    display: flex;
}