.setting {
    display: flex;
    justify-content: space-between;
}

.setting__content {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    flex-shrink: 0;
    flex-grow: 0;
}

.setting__content h6 {
    font-size: 20px;
    font-weight: 400;
    color: var(--setting-title-color);
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.setting.disabled .setting__content h6 {
    color: var(--setting-disabled-title-color);
}

.setting__content h6:has(+ p) {
    margin-bottom: 8px;
}

.setting__plugin-icon {
    color: var(--text-secondary-color);
    opacity: 0.4;
}

.setting__content p {
    font-size: 14px;
    font-weight: 300;
    color: var(--setting-description-color);
}

.setting.disabled .setting__content p {
    color: var(--setting-disabled-description-color);
}

.setting__actions {
    display: flex;
}