:root {
    --app-background-color:rgba(15, 17, 22, 1);
    --text-color: rgba(255, 255, 255, 0.95);

    --layout-border-color: rgb(255, 255, 255, 0.5);

    /* Button - secondary [default] */
    --button-border-color: rgba(255, 255, 255, 0.2);
    --button-text-color: rgba(255, 255, 255, 0.8);
    --button-hover-border-color: rgba(255, 255, 255, 0.25);
    --button-hover-bg-color: rgba(255, 255, 255, 0.05);
    --button-active-border-color: rgba(255, 255, 255, 0.4);
    --button-active-bg-color: rgba(255, 255, 255, 0.07);
    --button-disabled-bg-color: rgba(255, 255, 255, 0.15);
    --button-disabled-text-color: rgba(255, 255, 255, 0.25);
    /* Button - primary */
    --button-primary-bg-color: rgba(255, 255, 255, 0.95);
    --button-primary-text-color: rgba(0, 0, 0, 0.8);
    --button-primary-hover-bg-color: rgba(255, 255, 255, 0.8);
    --button-primary-active-bg-color: rgba(255, 255, 255, 0.6);
    --button-primary-disabled-bg-color: rgba(255, 255, 255, 0.15);
    --button-primary-disabled-text-color: rgba(255, 255, 255, 0.25);

    /* Switch - unchecked [default] */
    --switch-border-color: rgba(255, 255, 255, 0.2);
    --switch-bg-color: transparent;
    --switch-thumb-bg-color: rgba(255, 255, 255, 0.95);
    --switch-disabled-border-color: rgba(255, 255, 255, 0.15);
    --switch-disabled-bg-color: rgba(255, 255, 255, 0.05);
    --switch-disabled-thumb-bg-color: rgba(255, 255, 255, 0.25);
    /* Switch - checked */
    --switch-checked-border-color: rgba(0, 0, 0, 0.8);
    --switch-checked-bg-color: rgba(255, 255, 255, 0.95);
    --switch-checked-thumb-bg-color: rgba(0, 0, 0, 0.8);
    --switch-checked-disabled-border-color: rgba(255, 255, 255, 0.25);
    --switch-checked-disabled-bg-color: rgba(255, 255, 255, 0.25);
    --switch-checked-disabled-thumb-bg-color: rgba(255, 255, 255, 0.25);

    /* Icon Button */
    --icon-button-bg-color: transparent;
    --icon-button-text-color: rgba(255, 255, 255, 0.8);
    --icon-button-hover-bg-color: rgba(255, 255, 255, 0.2);

    /* List Item */
    --list-item-text-color: rgba(255, 255, 255, 0.8);
    --list-item-bg-color: transparent;
    --list-item-hover-bg-color: rgba(255, 255, 255, 0.05);
}