.top-bar {
    height: 2.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr minmax(0, 1fr);
    gap: 0.75rem;
    padding: 0.25rem;
}

.top-bar__left,
.top-bar__center,
.top-bar__right {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.top-bar__left {
    justify-content: flex-start;
}

.top-bar__right {
    justify-content: flex-end;
    width: min-content;
    margin-left: auto;
}

.top-bar__title {
    flex-grow: 1;
    font-size: 1.05rem;
    font-weight: 400;
    text-align: center;
    cursor: default;
}

.top-bar__window-actions {
    display: flex;
    gap: 4px;
}